# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
env/
.env
.venv

# Banco de dados local (normalmente não se envia para o GitHub por segurança)
db.sqlite3

# Arquivos de sistema do Windows/Mac
.DS_Store
Thumbs.db
